# os
.DS_Store
Thumbs.db

# editor
.idea/
.nova/
.gitpod.yml

# node
node_modules
.pnpm-store

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env.test
.env*.local

# build
lib/
cjs/
esm/
.buildinfo.json

# typescript
*.tsbuildinfo

# project
packages/*/*/styles.css
packages/*/*/styles.layer.css
packages/@cck-ui/core/styles
packages/*/*/LICENSE

# vitest
__snapshots__