@use 'common/var' as *;

.c-button-group__section {
  --section-height-xs: calc(1.875rem * var(--c-scale));
  --section-height-sm: calc(2.25rem * var(--c-scale));
  --section-height-md: calc(2.625rem * var(--c-scale));
  --section-height-lg: calc(3.125rem * var(--c-scale));
  --section-height-xl: calc(3.75rem * var(--c-scale));
  --section-height-compact-xs: calc(1.375rem * var(--c-scale));
  --section-height-compact-sm: calc(1.625rem * var(--c-scale));
  --section-height-compact-md: calc(1.875rem * var(--c-scale));
  --section-height-compact-lg: calc(2.125rem * var(--c-scale));
  --section-height-compact-xl: calc(2.5rem * var(--c-scale));
  --section-padding-x-xs: calc(0.875rem * var(--c-scale));
  --section-padding-x-sm: calc(1.125rem * var(--c-scale));
  --section-padding-x-md: calc(1.375rem * var(--c-scale));
  --section-padding-x-lg: calc(1.625rem * var(--c-scale));
  --section-padding-x-xl: calc(2rem * var(--c-scale));
  --section-padding-x-compact-xs: calc(0.4375rem * var(--c-scale));
  --section-padding-x-compact-sm: calc(0.5rem * var(--c-scale));
  --section-padding-x-compact-md: calc(0.625rem * var(--c-scale));
  --section-padding-x-compact-lg: calc(0.75rem * var(--c-scale));
  --section-padding-x-compact-xl: calc(0.875rem * var(--c-scale));
  --section-height: var(--section-height-sm);
  --section-padding-x: var(--section-padding-x-sm);
  font-weight: var(--c-font-weight-medium);
  width: auto;
  border-radius: var(--section-radius, var(--c-radius-default));
  font-size: var(--section-fz, var(--c-font-size-sm));
  background: var(--section-bg, var(--c-color-default));
  border-color: var(--section-bd, var(--c-color-default-border));
  border-style: solid;
  border-width: calc(0.0625rem * var(--c-scale));
  color: var(--section-color, var(--c-color-default-color));
  height: var(--section-height, var(--section-height-sm));
  padding-inline: var(--section-padding-x, var(--section-padding-x-sm));
  vertical-align: middle;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    background 0.15s ease,
    color 0.15s ease;

  &[data-variant='default'] {
    --section-bg: var(--c-color-default);
    --section-color: var(--c-color-default-color);
    --section-bd: var(--c-color-default-border);
  }
  &[data-variant='filled'] {
    --section-bg: var(--c-primary-color-filled);
    --section-color: var(--c-color-white);
    --section-bd: transparent;
  }
  &[data-variant='light'] {
    --section-bg: var(--c-primary-color-light);
    --section-color: var(--c-primary-color-light-color);
    --section-bd: transparent;
  }
  &[data-variant='outline'],
  &[data-variant='dashed'] {
    --section-bg: transparent;
    --section-color: var(--c-primary-color-outline);
    --section-bd: var(--section-color);
  }
  &[data-variant='dashed'] {
    border-style: dashed;
  }
  &[data-variant='subtle'] {
    --section-bg: transparent;
    --section-color: var(--c-primary-color-light-color);
    --section-bd: transparent;
  }
  &[data-variant='transparent'] {
    --section-bg: transparent;
    --section-color: var(--c-primary-color-light-color);
    --section-bd: transparent;
  }
  &[data-variant='white'] {
    --section-bg: var(--c-color-white);
    --section-color: var(--c-primary-color-filled);
    --section-bd: transparent;
  }
  &[data-variant='gradient'] {
    border-width: 0;
  }
}
