.root {
  --paper-radius: var(--c-radius-default);

  outline: 0;
  -webkit-tap-heighlight-color: transparent;
  display: block;
  touch-action: manipulation;
  text-decoration: none;
  border-radius: var(--paper-radius);
  box-shadow: var(--paper-shadow);
  background-color: var(--c-color-body);

  @mixin light {
    --paper-border-color: var(--c-color-gray-3);
  }

  @mixin dark {
    --paper-border-color: var(--c-color-dark-4);
  }

  &:where([data-with-border]) {
    border: rem(1px) solid var(--paper-border-color);
  }
}
